.row
  .large-12.columns
    .row
      .large-6.large-offset-3.columns
        .row
          .large-2.columns
            %img(src='http://lorempixel.com/g/200/200')
          .large-10.columns
            %h3 Lady Gaga
    .row
      .large-6.large-offset-3.columns
        .row
          .large-2.columns
            %img(src='http://lorempixel.com/g/200/200')
          .large-10.columns
            %h3 TigerLily App
