.row
  .large-6.large-offset-3.columns
    .row
      .large-2.columns
        %a(ng-href='#/pages/{{ page.id }}')
          %img(ng-src='//graph.facebook.com/{{ page.uid }}/picture')
      .large-10.columns
        %a(ng-href='#/pages/{{ page.id }}')
          %h3(ng-bind='page.username')
