%div(ng-controller='PagesController')
  .row
    .large-12.columns.text-center
      %h1 Page Fetcher
  .row
    .large-12.columns.text-center
      %form
        .row
          .large-6.large-offset-3.columns
            %input(type='text' name='pageId' placeholder='example: 12345677')
        .row
          .large-12.columns.text-center
            %input.button(type='submit' value='Add')
  .row
    .large-12.columns
      %div(ng-repeat='page in pages')
        %div(ng-include src="'tpl/pages/index'")
